  body {
         background-color: #004d66;
         margin: 20 px;
         font-family: 'Arial', sans-serif;
    }
    .logo {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      color: #043bb3;
    }
    
    div {
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;  /* establece 15px arriba/abajo y 30px a izquierda/derecha.*/ 
      background-color: #fff;
     
    }

    nav {
      display: flex;
      align-items: center;
       gap: 25px; /*distancia entre items*/
       
    }
    nav a {
      
      color: #da0b0b;
      font-size: 15px;
    }

    nav a:hover {
      color: #e4f30b;
    }
    p{
      color: #fff;
       font-family:'Courier New', Courier, monospace
    }


    .centrado{
      text-align: center;
      background-color: #004d66;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    fieldset {
      width: 400px;
      height: 550px;
      padding: 35px;
      box-shadow: 5px 10px 10px rgb(123, 171, 197);
      border: #02060f;
      /*background-color: #37793b;*/
      background-color: #e1e8eb;
      border-radius: 10px;
      border: 3px solid #6316165e;
    }

    form{
      font-family: Geneva, Tahoma, sans-serif;
      background-color: #004d66;
    }

    input{
      border: 1px solid #631616b4;
    }

    label{
      display: block;
      color: #1b5e20;
      font-weight: bold;

    }
 
