  body {
         background-color: #2698be;
         margin: 20 px;
         font-family: 'Arial', sans-serif;
    }

    .logo {
      display: flex;
      flex-direction: column;
      color: rgb(70, 13, 13);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .logo img{
      padding-left: 15%;
    }

    div {
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;  /* establece 15px arriba/abajo y 30px a izquierda/derecha.*/ 
      background-color: #fff; 
    }

    nav {
      display: flex;
      align-items: center;
      gap: 25px; /*distancia entre items*/
      padding-right: 15%;
       
    }
    nav a {
      color: #18501d;
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    }

    nav a:hover {
      color: #c51408;
    }

    .bandera{
      display: flex;
      flex-direction: column;
      color: hsl(221, 98%, 18%);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p{
      color: #fff;
       font-family:'Courier New', Courier, monospace
    }

    .contenedor{
      position: sticky; /*movible accesos directos,simil fixed*/
      top: 0; 
      height: 110px;
      width: 94%;
    }

    h2{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 40px;
       text-align: center;
    }

    h4{
       font-size: 20px;
       color: aliceblue;
       text-align: center;
    }

  

 
